@using System.Data;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Customer", "Grid_Customer", "Home")</li>
                            <li><a href="#">Customer Order</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Color</a></li>
                            <li><a href="#">Size</a></li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("UserAccount", "Grid_UserAccount", "Home")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work Completed<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @*<li><a href="#">------</a></li>*@
                            @{
                                DBAccess db = new DBAccess();
                                DataSet ds_work;
                                ds_work = db.ExecuteDataSet("SELECT WorkID, WorkName, isChangeColor FROM [PS_Work]");

                                int i;

                                for (i = 0; i <= ds_work.Tables[0].Rows.Count - 1; i++)
                                {
                                  <li><a href="Home/?type=wc&prd=@ds_work.Tables[0].Rows[i].ItemArray[1]&wid=@ds_work.Tables[0].Rows[i].ItemArray[0]&isChangeColor=@ds_work.Tables[0].Rows[i].ItemArray[2]"> @ds_work.Tables[0].Rows[i].ItemArray[1] </a></li>
                                }
                            }

                            @*<li><a href="#">------</a></li>
                            <li><a href="#">------</a></li>*@
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Defective<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @*<li><a href="#">------</a></li>*@
                            @{
                                
                                DataSet ds_work1;
                                ds_work1 = db.ExecuteDataSet("SELECT WorngWorkID, WorkName, isChangeColor FROM [PS_Work]");

                                int j;

                                for (j = 0; j <= ds_work.Tables[0].Rows.Count - 1; j++)
                                {
                                    <li><a href="Home/?type=wc&prd=@ds_work.Tables[0].Rows[j].ItemArray[1]&wid=@ds_work.Tables[0].Rows[j].ItemArray[0]&isChangeColor=@ds_work.Tables[0].Rows[j].ItemArray[2]"> @ds_work.Tables[0].Rows[j].ItemArray[1] </a></li>
                                }
                            }
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">1. ផលិតផលស្កែនទាំងអស់</a></li>
                            <li><a href="#">2. ផលិតផលមិនទាន់បានធ្វើ</a></li>
                            <li><a href="#">3. សង្ខេបផលិតផលមិនទានធ្វើ</a></li>
                            <li><a href="#">4. ផលិតផលកម្មករម្នាក់ៗ</a></li>
                            <li><a href="#">5. ការងារខុស</a></li>
                            <li><a href="#">6. ការងារមិនអាចកែបាន</a></li>
                            <li><a href="#">7. សរុបតាមផ្នែកប្រចាំថ្ងៃ</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
